<div class="scramble-display">
  <canvas #cubeCanvas> </canvas>
</div>
<!-- TO TEST MODEL -->
<!-- <div>
  <ion-button (click)="cube.slice('F')">F</ion-button>
  <ion-button (click)="cube.slice('F\'')">F'</ion-button>
  <ion-button (click)="cube.slice('B')">B</ion-button>
  <ion-button (click)="cube.slice('B\'')">B'</ion-button>
  <ion-button (click)="cube.slice('U')">U</ion-button>
  <ion-button (click)="cube.slice('U\'')">U'</ion-button>
  <ion-button (click)="cube.slice('D')">D</ion-button>
  <ion-button (click)="cube.slice('D\'')">D'</ion-button>
  <ion-button (click)="cube.slice('L')">L</ion-button>
  <ion-button (click)="cube.slice('L\'')">L'</ion-button>
  <ion-button (click)="cube.slice('R')">R</ion-button>
  <ion-button (click)="cube.slice('R\'')">R'</ion-button>
</div> -->
