<app-tab-header title="Algos"></app-tab-header>
<ion-content [fullscreen]="true">
  <!-- 3x3 -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-text-center">
          <h1>3x3</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="8">
        <ion-button expand="block" [routerLink]="['three', 'notations']">
          <ion-text class="ion-padding"> Notations </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="6" sizeMd="4">
        <ion-button expand="block" [routerLink]="['three', 'three-oll']">
          <ion-text class="ion-padding">OLL</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="6" sizeMd="4">
        <ion-button expand="block" [routerLink]="['three', 'three-pll']">
          <ion-text class="ion-padding">PLL</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
