<app-tab-header title="Algos"></app-tab-header>
<ion-content [fullscreen]="true">
  <!-- 3x3 -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="8">
        <ion-card color="secondary">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <h1>3 x 3</h1>
            </ion-card-title>
            <ion-card-subtitle> CFOP </ion-card-subtitle>
          </ion-card-header>

          <ion-content> </ion-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button
                  expand="block"
                  [routerLink]="['three', 'notations']"
                  color="tertiary"
                >
                  <ion-text class="ion-padding"> Notations </ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button
                  expand="block"
                  [routerLink]="['three', 'three-2loll']"
                  color="primary"
                >
                  <ion-text class="ion-padding">2L OLL</ion-text>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button
                  expand="block"
                  [routerLink]="['three', 'three-pll']"
                  color="primary"
                >
                  <ion-text class="ion-padding">PLL</ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <!-- <ion-text class="ion-text-center">
          <h1 >3x3</h1>
        </ion-text> -->
      </ion-col>
    </ion-row>

    <!-- <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="8">
        <ion-button
          expand="block"
          [routerLink]="['three', 'notations']"
          color="tertiary"
        >
          <ion-text class="ion-padding"> Notations </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="6" sizeMd="4">
        
      </ion-col>
      <ion-col size="6" sizeMd="4">
        
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
