<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>3x3 2-Look OLL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">3x3 2-Look OLL</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- 1st Look -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeLg="10">
        <app-algo-category
          categoryTitle="1st Look"
          [algos]="firstLook"
        ></app-algo-category>
      </ion-col>
    </ion-row>

    <!-- 2nd Look -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeLg="10">
        <app-algo-category
          categoryTitle="2nd Look"
          [algos]="secondLook"
        ></app-algo-category>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
