<app-tab-header title="Timer"></app-tab-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="text-center" size="large">Timer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="h-full timer-container">
    <!-- Scramble -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="text-center">
        <app-scramble #scrambleText></app-scramble>
      </ion-col>
    </ion-row>

    <!-- Timer -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="h-full">
        <app-timer></app-timer>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeLg="10" class="text-center">
        
      </ion-col>
    </ion-row> -->

    <app-cube-model #scrambleDisplay [scramble]="scramble"></app-cube-model>

    <ion-row> </ion-row>
  </ion-grid>
</ion-content>
