@if (!algo) { return; }

<div class="algo-container">
  <div class="algo-header">
    <ion-text>
      <h2>{{ algo?.name }}</h2>
    </ion-text>
  </div>

  <!-- <div class="algo-content">
    <div class="algo-img">
      <img [src]="algo?.imgUrl" [alt]="algo?.imgAlt" />
    </div>

    <div class="algo-sequence">
      @for (sequence of sequences; track $index) {
      <ion-button
        color="tertiary"
        (click)="openModal(algo?.name, sequence, algo?.setupAlgo)"
        class="ion-text-wrap"
        style="max-width: 200px"
      >
        @for (line of sequence; track $index) {
        {{ line }}
        <br />
        }
      </ion-button>
      }
    </div>
  </div> -->

  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeLg="4">
        <img [src]="algo?.imgUrl" [alt]="algo?.imgAlt" />
      </ion-col>

      <ion-col size="12" sizeLg="8">
        @for (sequence of sequences; track $index) {
        <ion-button
          color="tertiary"
          (click)="openModal(algo?.name, sequence, algo?.setupAlgo)"
          class="ion-text-wrap"
          style="max-width: 200px"
        >
          @for (line of sequence; track $index) {
          {{ line }}
          <br />
          }
        </ion-button>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
