/* ********************** */
/* **** Timer Page ****** */
#stopwatch{
	width: 75%;
	margin: 2% auto;
	border: 2px solid white;
	border-radius: 10px;

	text-align: center;
	font-size: 48pt;
}

.btn-container{
	margin: auto;
	display: flex;
	justify-content: space-evenly;
}

.sw-button{
	border: none;
	border-radius: 10px;
	padding: 15px 30px;
	background: #00FF66;
	color: #000000;
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
}

.sw-button:hover{
	background: #000000;
	color: #00FF66;
	cursor: pointer;
}

#scramble{
	text-align: center;
	font-size: 2em;
}

#table-container{
	margin-top: 50px;
}

#time-table{
	margin: auto;
	border-collapse: collapse;
}

.time-cell{
	border: 2px solid #ffffff;
	padding: 15px 50px;
}

@media only screen and (max-width: 600px){
	.excerpt{
		width: auto;
	}
	
	.sw-button{
		font-size: 1em;
		padding: 15px 25px;
	}

	#scramble{
		font-size: 1.5em;
	}
}
/* ********************** */
/* ********************** */