.notation-table {
}

ion-col {
  background-color: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);
  border: 0.2rem solid var(--ion-color-secondary);
  // border-radius: 1rem;
}
